.numpad-container {
  /*border: 1px solid black;*/
}

.numpad-button {
  /*border: 1px solid blue;*/
  padding: 0.25rem;
}

.num-but {
  width:100%;
  display:block;
  color: #37246e;
}

.num-but-number {
  font-size: 5rem;
  font-family: Impact;
}

