<div class="d-flex">
  <div class="ml-auto mr-auto title-container">
    <span [style.color]="greenColor">S</span>
    <span [style.color]="yellowColor">K</span>
    <span [style.color]="redColor">A</span>
    <span [style.color]="blueColor">T</span>
    <span [style.color]="darkblueColor">T</span>
    <span [style.color]="greenColor">J</span>
    <span [style.color]="yellowColor">A</span>
    <span [style.color]="redColor">K</span>
    <span [style.color]="blueColor">T</span>
  </div>

</div>

<div class="d-flex container">
  <div class="center ml-auto mr-auto">
    <button-container></button-container>
  </div>
</div>
